:root {
    --primary-color: #0F0F0E;
    --secondary-color: #131413;
    --tertiary-color: #7B7B79;
    --quaternary-color: #D6D8D7;
    --quinary-color: #ffffff; 
    --sextary-color: #29353C;
    --septinary-color: #615048; 
    --octinary-color: #C8BEB6; 
  }

  /*--------- HEADER FORMATTING ---------*/
  .header{
    background: var(--primary-color);
  }


  /*------- NAV FORMATTING ---------*/ 
  .navcontainer {
    position: sticky; 
    top: 0; 
  }
  
  .nav {
      display: flex; 
      justify-content: space-around;
      background-color: var(--secondary-color); 
      color: var(--quinary-color); 
      font-family: Lato;  
      position: sticky; 
      top: 0; 
      list-style-type: none;
      text-decoration: none;
      margin: 0; 
      padding: 1em; 
  }
  
  
  .active {
    text-decoration: none; 
    color: var(--quinary-color); 
    font-family: Lato; 
    background-color: var(--quaternary-color);
    position: sticky; 
    top: 0; 
  }
  
  .nav-item{
    font-size: 2em; 
    color: var(--secondary-color); 
    font-family: Lato; 
    position: sticky; 
    top: 0; 
  }
  
  a.nav-item {
    color: var(--quinary-color); 
    font-family: Lato; 
    position: sticky; 
    top: 0; 
    text-decoration: none;
  }
  
  a.nav-link{
    color: var(--quinary-color); 
    font-family: Lato; 
    position: sticky; 
    top: 0; 
    text-decoration: none;
  }
  
  a.nav-link:hover {
      color: var(--quinary-color); 
      font-family: Lato;  
      position: sticky; 
      top: 0; 
  }
  
  a.nav-link:active {
    text-decoration: none; 
    color: var(--quinary-color); 
    font-family: Lato; 
    background-color: var(--quaternary-color);
    position: sticky; 
    top: 0; 
  }
  
  a.nav-link:visited {
    color: var(--octinary-color); 
    font-family: Lato; 
    text-decoration: none; 
    position: sticky; 
    top: 0; 
  }
  
  a.nav-link:visited:hover {
    color: var(--quinary-color); 
  }
  
  /* ------- HERO FORMATTING -------*/ 

  .hero {
    padding: 0; 
    background-image: url('codeblog_hero.png');
  }
  
  @media only screen and (max-width: 600px) {
    
    .navcontainer {
      background-color: var(--quinary-color);
      display: flex;
      flex-direction: column;  
      align-items: center; 
      color: var(--secondary-color); 
      font-family: Lato; 
    }
  
    .nav {
      background-color: var(--quinary-color);
      display: flex;
      flex-direction: column;  
      align-items: center; 
      color: var(--secondary-color); 
      font-family: Lato; 
  }
  
  .active {
    background-color: var(--quaternary-color);
  }
  
  .nav-item{
    font-size: 2em; 
    color: var(--secondary-color); 
    font-family: Lato; 
    margin: none; 
  }
  
  a.nav-link{
    color: var(--secondary-color); 
    font-family: Lato; 
    width: 100%; 
  }
  
  a.nav-link:visited {
    color: var(--secondary-color);  
    font-family: Lato;  
  text-decoration: none; 
  }
  
  li.active {
    background-color: var(--quaternary-color);
  }
  
  }
  